# OS
.DS_Store

# IDE
.idea/

# Python
.venv/
__pycache__/
*.pyc

# ROS2 build artifacts
build/
install/
log/

# Tests
tts_tests/

# MkDocs
site/
.mkdocs/

# ML models (download separately)
**/sherpa-onnx-nemo-transducer-giga-am-v2-russian-2025-04-19/
**/sherpa-onnx-nemo-ctc-giga-am-v2-russian-2025-04-19/
**/sherpa-onnx-nemo-parakeet-tdt-0.6b-v3-int8/
**/v5_ru.pt

# Logs
verter_admin/journal.log
verter_admin/journal-error.log
