[Unit]
Description=Verter Admin
After=graphical.target sound.target
Wants=graphical.target

[Service]
Type=simple
User=verter
Group=verter
WorkingDirectory=/home/verter/verter-robot
ExecStart=/home/verter/verter-robot/start_verter_admin.sh
ExecStop=/home/verter/verter-robot/stop_verter_admin.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical.target
