[Unit]
Description=Verter Admin
After=graphical.target sound.target
Wants=graphical.target

[Service]
Type=simple
WorkingDirectory=/home/verter/verter-robot
ExecStartPre=/bin/sleep 5
ExecStart=/home/verter/verter-robot/verter_admin/start_verter_admin.sh
ExecStop=/home/verter/verter-robot/verter_admin/stop_verter_admin.sh
StandardOutput=file:/home/verter/verter-robot/verter_admin/journal.log
StandardError=file:/home/verter/verter-robot/verter_admin/journal-error.log

TimeoutStartSec=120

[Install]
WantedBy=graphical.target
